body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/background.jpg);
    background-size: cover;

}

h1 {
    color: #ffffff;
    background-color: #000;
    text-align: center;
    justify-content: flex-start !important;
    text-align: center !important;
    font-size: 2rem;
}

.calculator {
    border: 1px solid #ffae00;
    border-radius: 10px;
    overflow: hidden;
    width: 340px;
    background-color: #000000;
    box-shadow: 0 10px 100px #ffae00;
}

.display {
    background-color: #000;
    color: #fff;
    font-size: 2.5rem;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 3px solid #ffae00;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    background-color: #ffae00;
}

.keys button {
    padding: 20px;
    font-size: 1.2rem;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    background-color: #000000;
}

.keys button:hover {
    background-color: #ffffff;
    color: #000000;
}

.keys button.operator {
    background-color: #ffae00;
    color: #000;
}

.keys button.operator:hover {
    background-color: #000000;
    color: #ffffff;
}

.keys button.clear {
    background-color: #ff2313;
    color: #fff;
}

.keys button.clear:hover {
    background-color: #d32f2f;
}

.keys button.equal {
    background-color: #00ff08;
    color: #fff;
    grid-column: span 4;

}

.keys button.equal:hover {
    background-color: #ffffff;
    color: #000000;
}

